{% if site.data.social-media %}
<div id="social-media">
    {% assign sm = site.data.social-media %}
    {% for entry in sm %}
        {% assign key = entry | first %}
            {% if sm[key].id %}
                {% if key == 'researchgate' or key == 'google-scholar' or key == 'orcid' %}
                    <a href="{{ sm[key].href }}{{ sm[key].id }}" title="{{ sm[key].title }}"><i class="ai {{ sm[key].ai-icon }}"></i></a>
                {% else %}
                    <a href="{{ sm[key].href }}{{ sm[key].id }}" title="{{ sm[key].title }}"><i class="fa {{ sm[key].fa-icon }}"></i></a>
                {% endif %}
	    {% endif %}
    {% endfor %}
</div>
{% endif %}
